@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: black
}

body {
  min-height: 100vh;
  background-color: white;
}

.App {
  justify-content: center;
  padding: 1rem 0.5rem;
}

h4 {
  font-style: italic;
}

.userId {
  font-style: italic;
  margin-top: 10px;
}

section {
  padding: 1rem 1rem 2rem 1rem;
  margin: 2rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

a,
a:visited {
  color: black
}

img {
  height: 50%;
  width: 50%;
  border-radius: 10px;
  color: red;
  margin-top: 1rem;
  border: black 1px solid;
  padding: 1rem;
  margin-bottom: 2rem;
  align-self: center;
}

input[type="password"],
button,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;

}

input[type="text"] {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label {
  margin-bottom: 1rem;
  margin-top: 1rem;
  align-self: center;
}

button {
  margin-top: 2rem;
  padding: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions>svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

/* navbar */

.navbar {
  font-family: "Nunito", sans-serif;
}

.navbar a {
  text-decoration: none;
  display: flex;
  padding: 3px;
  margin-left: 4px;
}

/* createPost */

.formContainer {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 2rem 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
}

.formContainer #inputCreatePost {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.formContainer button:hover {
  cursor: pointer;
}

.addCommentContainer {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.commentBttn {
  margin-bottom: 2rem;
}

.comment__text {
  border: 1px solid black;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

/* Fil d'acutalité */

.post {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.text {
  margin-top: 0.5rem;
}

/* Profil */

.basicInfo {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passwordContainer {
  margin-top: 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.passwordInput {
  margin-bottom: 1rem;
}

.trash {
  cursor: pointer;
}

#postImage {
  align-self: center;
}