@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: #fff;
}

body {
  min-height: 100vh;
  background-color: dodgerblue;
}

.App {
  justify-content: center;
  padding: 1rem 0.5rem;
}

h1 {
  font-size: 30px;
}

section {
  padding: 1rem 1rem 2rem 1rem;
  width: 20rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
}

form {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

a,
a:visited {
  color: #fff;
}

img {
  height: 50%;
  width: 50%;
  border-radius: 10px;
  color: red;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

button {
  margin-top: 2rem;
}

button {
  padding: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

/* navbar */

.navbar {
  height: 100px;
  display: flex;
  align-items: center;
  font-family: "Nunito", sans-serif;
}

.navbar a {
  margin-left: 25px;
  text-decoration: none;
}

/* createPost */

.formContainer {
  min-height: 400px;
  width: 20rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 2rem 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

.formContainer #inputCreatePost {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.formContainer button:hover {
  cursor: pointer;
}
